# ignore environments
env/
venv/
.conda/

# ignore python caches
__pycache__/
.ipynb_checkpoints
*.pyc

# ignore large datasets
csv/
*.csv
*.xlsx
*.parquet

# database files
database/
*.db
*.db-shm
*.db-wal
*.sql
*.sqlite

# pickle files
models/
*.pkl
*.joblib

# misc files
desktop.ini

# personal notes
notebooks/
streamlit_notes.py